<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YksFoundation"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Admin.UserApproval"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.PostApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SuperAdmin.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SuperAdmin.AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SuperAdmin.OptionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SuperAdmin.AddSocietyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SuperAdmin.SuperAdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.ForgotPassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.ForgotPassword.ValidateOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.ApprovalScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.ForgotPassword.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Activities.Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>